.u-Width {
	&--full { width: 100%; }
}

.u-Text {
	&--center {
		text-align: center;
	}
}

.u-Error {
	color: $color-errors;
}

.u-Info {
	padding: 20px;
	background-color: $color-gray-light;
}