$breakpoints: (

	// Horizontal
	h-ul: 1520px, // Ultra large
	h-xl: 1280px, // Extra large
	h-lg: 980px,  // large
	h-md: 800px,  // Medium
	h-sm: 640px,  // Small
	h-xs: 480px,  // Extra small

	// Vertical
	v-lg: 780px,  // Large
	v-md: 700px,  // Medium
	v-sm: 620px,  // Small
);

$gutter              : 2vw;
$box-margin          : 3vh;
$inputs-height       : 40px;

$color-white         : #fff;
$color-black         : #000;
$color-bg            : #f5f5f3;
$color-dark          : #343434;
$color-gray          : #727d82;
$color-headers       : #1f1e38;
$color-text          : #4e4e4e;
$color-text-light    : #8fa3ad;
$color-links         : #0095ff;
$color-links-hover   : darken($color-links, 10);
$color-lines         : rgba($color-black, .08);
$color-errors        : #f23f01;
$color-inputs-border : #c4c4c4;
