* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html, body {
	height: 100%;
}

body {
	background-color: $color-bg-lvl-2;
	font-family: 'Roboto', sans-serif;
	font-size: $base-font-size;
	line-height: 1em;
	color: $color-text-lvl-2;
}

a {
	cursor: pointer;
	color: $color-links;
	text-decoration: none;
}

hr {
	margin: 20px 0;
	border: none;
	border-top: 3px solid $color-lines;
}

dialog {
	border: none;
	color: inherit;
}


/* ---------------------------------------------------------------------------------
 * Scrollbar
 */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;

	&-track { background-color: $color-bg-lvl-1; }

	&-thumb { background-color: $color-text-lvl-3; }
}