form {
	margin-bottom: $box-margin;
	width: 100%;
}

label {
	display: block;
	margin-bottom: $box-margin / 2;
	line-height: 1.3em;
	user-select: none;
	color: $color-text-lvl-3;
}

input,
select,
button,
.Btn {
	height: $inputs-height;
}

input,
textarea,
select {
	width: 100%;
	border: none;
	border-bottom: 1px solid $color-inputs-border;
	font-size: $base-font-size;
	color: $color-text-lvl-2;
	background: none;
	transition: .2s;

	&:focus {
		border-bottom-color: $color-links;
	}

	.is-Error & {
		border-color: $color-errors;
	}
}

select {
	option {
		background-color: $color-bg-lvl-3;
	}
}

button,
.Btn {
	$btn-hover-shadow: 0 6px 40px rgba($color-base-1, .4);

	display: inline-flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	font-weight: bold;
	color: $color-bg-lvl-1;
	background-color: $color-links;
	cursor: pointer;
	box-shadow: 0 0 0 rgba($color-base-1, 0);
	user-select: none;
	transition: .3s;
	will-change: color, background-color, transform;


	&:hover {
		color: $color-bg-lvl-1;
		background-color: $color-links-hover;
		box-shadow: 0 6px 40px rgba($color-base-1, .4);
	}

	&:active {
		transform: scale(.9);
	}


	&--primary {
		height: $inputs-height * 1.2;
		font-size: 16px;
	}


	&--hollow {
		height: $inputs-height * .8;
		font-size: 13px;
		font-weight: normal;
		color: $color-links;
		background: none;
		box-shadow: inset 0 0 0 1px $color-links;

		&:hover {
			color: $color-links-hover;
			background: none;
			box-shadow: inset 0 0 0 2px $color-links;
		}
	}
}


// Disable default styling for autocompleted inputs
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0px 9999px $color-bg-lvl-2;
	-webkit-text-fill-color: darken($color-text-lvl-2, 20) !important;
	border-color: $color-inputs-border !important;
}