form {
	margin-bottom: var(--box-margin);
	width: 100%;
}

label {
	display: block;
	margin-bottom: calc(var(--box-margin) / 2);
	line-height: 1.3em;
	user-select: none;
	color: var(--color-text-dimmed);
}

input,
select,
button,
.Btn {
	height: var(--input-height);
}

input,
textarea,
select {
	width: 100%;
	border: none;
	border-bottom: 1px solid $color-inputs-border;
	font-size: var(--font-size-base);
	color: var(--color-text-base);
	background: none;
	transition: .2s;

	&:focus {
		border-bottom-color: var(--color-link);
	}

	.is-Error & {
		border-color: var(--color-error);
	}
}

select {
	option {
		background-color: var(--color-bg-light);
	}
}

button,
.Btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	font-weight: bold;
	color: var(--color-bg-base);
	background-color: var(--color-link);
	cursor: pointer;
	user-select: none;
	transition: .3s;
	will-change: color, background-color, transform;


	&:hover {
		color: var(--color-bg-base);
		background-color: $color-links-hover;
		box-shadow: 0 4px 30px rgba($color-base-1, .4);
	}

	&:active {
		transform: scale(.9);
	}

	&:focus {
		outline: 6px solid rgba($color-base-1, .2);
	}


	&--primary {
		height: --input-primary-height;
		font-size: 16px;
	}


	&--hollow {
		height: --input-secondary-height;
		font-size: 13px;
		font-weight: normal;
		color: var(--color-link);
		background: none;
		box-shadow: inset 0 0 0 1px var(--color-link);

		&:hover {
			color: $color-links-hover;
			background: none;
			box-shadow: inset 0 0 0 2px var(--color-link);
		}
	}
}


// Disable default styling for autocompleted inputs
input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0px 9999px var(--color-bg-base);
	-webkit-text-fill-color: darken($color-text-lvl-2, 20) !important;
	border-color: $color-inputs-border !important;
}