.u-Table {
	/**
	 * Styled table has horizontal lines and additional paddings
	 */
	&--styled {
		margin-bottom: var(--box-margin);

		th, td {
			padding-left: var(--table-cell-padding);
			padding-right: var(--table-cell-padding);

			&:first-child {
				padding-left: 0;
			}

			&::last-child {
				padding-right: 0;
			}
		}

		thead {
			--th-v-padding: calc(var(--table-cell-padding) * 1.4);

			th {
				padding-top: var(--th-v-padding);
				padding-bottom: var(--th-v-padding);
			}

			tr:last-child {
				th {
					border-bottom: 2px solid $color-lines;
				}
			}
		}

		tbody {
			td {
				padding-top: var(--table-cell-padding);
				padding-bottom: var(--table-cell-padding);
				border-bottom: 1px solid $color-lines;
			}
		}
	}


	&--padded {
		th, td {
			padding-left: var(--table-cell-padding);
			padding-right: var(--table-cell-padding);

			&:first-child {
				padding-left: 0;
			}

			&::last-child {
				padding-right: 0;
			}
		}
	}


	&--withOptions {
		$options-column-width: $tool-btn-size * 2;

		th:last-child {
			width: $options-column-width;
			text-align: center;
		}

		tbody {
			td:last-child:not(:first-child) {
				width: $options-column-width;
				padding: 0 !important;
				text-align: center;
			}
		}
	}
}