table,
.Table {
	$side-paddings: 16px;

	margin-bottom: $box-margin;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;

	th, td {
		padding-left: $side-paddings;
		padding-right: $side-paddings;
		text-align: left;

		&:first-child {
			padding-left: 0;
		}

		&::last-child {
			padding-right: 0;
		}
	}

	thead {
		th {
			padding-top: $side-paddings * 1.4;
			padding-bottom: $side-paddings * 1.4;
			font-size: 13px;
			letter-spacing: .04em;
			color: $color-text-lvl-3;
		}

		tr:last-child {
			th {
				border-bottom: 2px solid $color-lines;
			}
		}
	}

	tbody {
		td {
			padding-top: $side-paddings;
			padding-bottom: $side-paddings;
			border-bottom: 1px solid $color-lines;
		}
	}

	&--withOptions {
		th:last-child {
			text-align: center;
		}

		tbody {
			td:last-child:not(:first-child) {
				width: $tool-btn-size * 2;
				padding: 0 !important;
				text-align: center;
			}
		}
	}
}