h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
	font-weight: normal;
	line-height: 1.6em;
	color: $color-text-lvl-1;

	strong {
		font-weight: bold;
	}
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 24px;
	color: $color-text-lvl-3;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .04em;
}


p {
	margin-bottom: 1em;
}


small {
	font-size: .9em;
	color: $color-text-lvl-3;
}