.u-Width {
	&--full { width: 100%; }
}


.u-Text {
	&--center {
		text-align: center;
	}

	&--left {
		text-align: left;
	}

	&--right {
		text-align: right;
	}
}


p.u-Error {
	margin-bottom: 20px;
	color: var(--color-error);
}


.u-Info {
	padding: 20px;
	background-color: var(--color-bg-light);
}


.u-Required {
	display: inline-block;
	margin: 10px;
	width: 6px;
	height: 6px;
	background-color: var(--color-error);
	border-radius: 50%;
}


.u-Pad {
	&--none {
		padding: 0;
	}
}