:root {

	/* -----------------------------------------------------------------------------
	 * Sizes
	 */

	--sidebar-size       : 200px;
	--toolbar-size       : 50px;
	--gutter             : 2vw;
	--gutter-md          : calc(var(--gutter) * 1.5);
	--gutter-lg          : calc(var(--gutter) * 2);
	--gutter-xl          : calc(var(--gutter) * 3);

	--input-height       : 40px;
	--input-primary-height: 44px;
	--input-secondary-height: 34px;

	--tool-btn-size      : 40px;

	--box-margin         : 5vh;
	--medium-margin      : 3vh;

	--table-cell-padding : 16px;

	--font-size-base     : 15px;
	--font-size-small    : calc(var(--font-size-base) * .9);
	--font-size-h1       : calc(var(--font-size-base) * 2.2);
	--font-size-h2       : calc(var(--font-size-base) * 1.6);
	--font-size-h3       : calc(var(--font-size-base) * 1.33);
	--font-size-h4       : calc(var(--font-size-base) * 1.2);
	--font-size-h5       : var(--font-size-base);
	--font-size-h6       : calc(var(--font-size-base) * .9);


	@include narrower-than(lg) {
		--sidebar-size   : 170px;
	}

	@include narrower-than(md) {
		--sidebar-size   : 140px;
		--gutter         : 14px;
		--input-height   : 32px;
	}

	@include narrower-than(sm) {
		--sidebar-size   : 0;
		--gutter         : 10px;
		--font-size-base : 14px;
		--font-size-h1   : 24px;
		--font-size-h2   : 20px;
		--font-size-h3   : 16px;
		--font-size-h4   : 15px;
	}


	/* -----------------------------------------------------------------------------
	 * Colors
	 */

	--color-brand        : #{$color-base-1};
	--color-link         : #{$color-base-1};


	--color-text-bright  : #{$color-white};                 // 1
	--color-text-base    : #{$color-base-text};             // 2
	--color-text-dimmed  : #{darken($color-base-text, 30)}; // 3
	--color-text-dark    : #{darken($color-base-text, 50)}; // 4


	// Content background
	--color-bg-base      : #{$color-base-2};                // 1

	// Sidebar
	--color-bg-light     : #{lighten($color-base-2, 3)};    // 2

	// Options menu, Toast
	--color-bg-lighter   : #{lighten($color-base-2, 5)};    // 3


	--color-error        : #c64113;
}