$breakpoints: (

	// Horizontal
	h-ul: 1520px, // Ultra large
	h-xl: 1280px, // Extra large
	h-lg: 980px,  // large
	h-md: 800px,  // Medium
	h-sm: 640px,  // Small
	h-xs: 480px,  // Extra small

	// Vertical
	v-lg: 780px,  // Large
	v-md: 700px,  // Medium
	v-sm: 620px,  // Small
);


/**
 * Sizes
 */

$gutter              : 2vw;
$box-margin          : 3vh;
$inputs-height       : 40px;


/**
 * Colors
 */

$color-white         : #fff;
$color-black         : #000;

$color-base-1        : #0095ff;
$color-base-2        : #161617;
$color-lines-base    : #cacce3;
$color-errors        : #f23f01;

$color-bg-lvl-1      : $color-base-2;
$color-bg-lvl-2      : lighten($color-bg-lvl-1, 1.5);
$color-bg-lvl-3      : lighten($color-bg-lvl-1, 3);
$color-bg-lvl-4      : lighten($color-bg-lvl-1, 4.5);

$color-text-lvl-1    : $color-white;
$color-text-lvl-2    : #9da8ae;
$color-text-lvl-3    : darken($color-text-lvl-2, 20);

$color-links         : $color-base-1;
$color-links-hover   : lighten($color-links, 10);

$color-lines         : rgba($color-lines-base, .08);
$color-inputs-border : rgba($color-lines-base, .2);
