/*
 * Page transition
 */
 .page {
	&-enter-active,
	&-leave-active {
		animation: pageEnter .7s forwards;
	}

	&-enter,
	&-leave-to {
		position: absolute !important;
		width: 100%;
		animation: pageLeave .7s forwards;
	}
}


/*
 * Fade transition
 */
.fade {
	&-enter-active,
	&-leave-active {
		transition: .3s;
	}

	&-enter,
	&-leave-to {
		opacity: 0;
	}
}


/*
 * Slide bottom transition
 */
.slide-bottom {
	&-enter-active,
	&-leave-active {
		transition: .3s;
	}

	&-enter,
	&-leave-to {
		opacity: 0;
		transform: translateY(-14px);
	}
}


/*
 * Slide right transition
 */
.slide-right {
	&-enter-active,
	&-leave-active {
		transition: .3s;
	}

	&-enter,
	&-leave-to {
		opacity: 0;
		transform: translateX(20px);
	}
}